
1 семестр/Вступ до програмування/acm/.DS_Store
1 семестр/Вступ до програмування/Classes/.DS_Store
1 семестр/Вступ до програмування/Classes/Practice11/.DS_Store
2 semester/.DS_Store
2 semester/MOPI/.DS_Store
1 семестр/Вступ до програмування/acm/.DS_Store
1 семестр/Вступ до програмування/Classes/.DS_Store
1 семестр/Вступ до програмування/Classes/Practice11/.DS_Store
1 семестр/Вступ до програмування/Classes/Practice11/.DS_Store
